<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Histórico de conversão</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Styles/lista.css') }}">  
    </head>
    <body>
        <header>
        <h1 style="text-align: center;">Histórico de Conversão</h1>
        <br>
        </header>
        <br>
        <table class="table">
            <thead>
                <th>Preço de Compra</th>
                <th>Preço de Venda</th>
                <th>Data Base</th>
            </thead>
            <tbody>
                    {% for dia in lista%}
                    <tr>
                        <td>{{dia.preco_compra}}</td>
                        <td>{{dia.preco_venda}}</td>
                        <td>{{dia.data_base}}</td> 
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </body>
</html>