<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da Conversão</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Styles/res.css') }}">
</head>
<header><h1>Conversor de Moedas</h1></header>
<body>
<div class="op">  Para {{op}} </div>
<div class="valor"> {{valor}} </div>

</body>
</html>